# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build / Dist folders
# =========================
dist/
build/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Misc
# =========================
coverage/
