
footer{ 
        width: 100%;
        display: flex;
        padding: 55px;
        justify-content: center;
        background-color: #000}
footer p{
  color: white;
  font-weight: 200;
  font-size: 13px;
}
