
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header { display: flex;
         background-color: black;
         width: 100%; 
         justify-content: space-between;
         padding: 0px 80px;
         align-items: center;
         }

.logo img{
        width: 20vh;
        
}


.nav  { 
        text-decoration: none;
        font-size: 12px;
        font-weight: 400; 
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
        transition: 0.3s ease; 
        border-radius: 1px;
        cursor: pointer;
 }

.nav:hover { background-color: palevioletred;
             }

.headerButton{
        color: white;
        border: 1px solid transparent;
        margin-right: -8vh;
        font-size: 10px;
        background-color: black;
        cursor: pointer;
}

#product ul{
        position: absolute;
        margin-top: 0.4vh; 
        margin-left: 14vh;
        color: white;
        text-align: center;
}

#product ul li{
        list-style-type: none;
        font-size: 12px;
        font-weight: 300;
        cursor: pointer;
        padding: 1.7vh 10vh 1.5vh 0.3vh;
        transition: 0.2s ease;
        text-align: center;
        margin-top: 1vh;
        
}

.productsLinks{
        text-decoration: none;
        color: white;
}
#product ul li:hover{
        background-color: palevioletred;
 }

#contact ul{
        position: absolute;
        margin-top: 0.4vh;
        margin-left: 51.3vh;
        color: white;
        padding: 0%;
        
}
#contact ul li{
        list-style-type: none;
        font-size: 12px;
        cursor: pointer;
        padding: 1vh 2vh 1vh 1vh;
        transition: 0.2s ease;
        text-align: center;
        margin-top: 1vh;
        display: flex;
        align-items: center;
}
#contact ul li:hover{
        background-color: palevioletred;
}





